In [1]:
import pandas as pd

# Pandas Read/Write Operations -

## 1. Reading CSV Files

- **Theory:**  
  Pandas can read data from CSV files using `pd.read_csv()`. You can control how the file is read using parameters like `skiprows`, `header`, `names`, `nrows`, and `na_values`.

- **Examples & Implementation:**
    ```python
    # Basic read
    df = pd.read_csv('stock_data.csv')

    # Skip the first row
    df = pd.read_csv('stock_data.csv', skiprows=1)

    # Specify column names and ignore headers in file
    df = pd.read_csv('stock_data.csv', header=None, names=['tickets', 'eps', 'revenue', 'price', 'people'])

    # Read only first 3 rows
    df = pd.read_csv('stock_data.csv', nrows=3)

    # Handle missing values
    df = pd.read_csv('stock_data.csv', na_values=['not available', 'n.a.'])

    # Handle missing values per column
    df = pd.read_csv('stock_data.csv', na_values={
        'eps': ['not available', 'n.a.'],
        'tickets': ['not available', 'n.a.'],
        'revenue': ['not available', 'n.a.', -1],
        'price': ['not available', 'n.a.', -1],
        'people': ['not available', 'n.a.']
    })
    ```

---

## 2. Writing CSV Files

- **Theory:**  
  Use `to_csv()` to write DataFrames to CSV files. You can select columns, remove headers, etc.

- **Examples & Implementation:**
    ```python
    df.to_csv('new.csv')  # Write all columns
    df.to_csv('new.csv', columns=['price', 'revenue', 'people'])  # Write selected columns
    df.to_csv('new.csv', columns=['price', 'revenue', 'people'], header=None)  # No header
    ```

---

## 3. Reading Excel Files

- **Theory:**  
  Use `pd.read_excel()` to read Excel files. You can specify the sheet and use converters for custom value handling.

- **Examples & Implementation:**
    ```python
    df = pd.read_excel('stock_data.xlsx', 'Sheet1')

    # Use a converter for a column
    def convert_people(cell):
        if cell == 'n.a.':
            return None
        return cell

    df = pd.read_excel('stock_data.xlsx', 'Sheet1', converters={'people': convert_people})
    ```

---

## 4. Writing Excel Files

- **Theory:**  
  Use `to_excel()` to write DataFrames to Excel files. You can control the sheet name, index, header, and starting position.

- **Examples & Implementation:**
    ```python
    df.to_excel("new.xlsx", 'Sheet1')
    df.to_excel("new.xlsx", 'Sheet1', index=False, header=False)
    df.to_excel("new.xlsx", 'Sheet1', startrow=2, startcol=2)
    ```

---

## 5. Writing Multiple DataFrames to One Excel File

- **Theory:**  
  Use `pd.ExcelWriter` as a context manager to write multiple DataFrames to different sheets in the same Excel file.

- **Examples & Implementation:**
    ```python
    stocks_data = {
        'tickers': ['GOOGL', 'WMT', 'MSFT'],
        'price': [845, 65, 64],
        'pe': [30.37, 14.26, 30.97],
        'eps': [27.82, 4.61, 2.12]
    }
    df_stocks = pd.DataFrame(stocks_data)

    weather_data = {
        'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
        'temperature': [32, 35, 28],
        'event': ['Rain', 'Sunny', 'Snow']
    }
    df_weather = pd.DataFrame(weather_data)

    with pd.ExcelWriter('stocks_weather.xlsx') as writer:
        df_stocks.to_excel(writer, sheet_name="stocks", index=False)
        df_weather.to_excel(writer, sheet_name="weather", index=False)
    ```

---

## 6. Summary

- Use `pd.read_csv()` and `pd.read_excel()` to load data.
- Use `to_csv()` and `to_excel()` to save DataFrames.
- Handle missing values with `na_values` or converters.
- Use `ExcelWriter` to write multiple DataFrames to one Excel file.
- Always check your DataFrame with `print(df)` or just `df` in a notebook cell.

---

**These notes summarize all the key pandas read/write operations you practiced in this notebook, with theory, examples, and

In [5]:
df_stocks_csv = pd.read_csv('stock_data.csv')
df_stocks_csv

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [13]:
df_stocks_csv = pd.read_csv('stock_data.csv', skiprows= 1)
# df_stocks_csv = pd.read_csv('stock_data.csv', header= 1)
df_stocks_csv

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [7]:
df_stocks_csv = pd.read_csv('stock_data.csv', header= None, names=['tickets', 'eps', 'revenue', 'price', 'people'])
df_stocks_csv

   tickets            eps  revenue  price         people
0       hi        unnamed      NaN    NaN            NaN
1  tickers            eps  revenue  price         people
2    GOOGL          27.82       87    845     larry page
3      WMT           4.61      484     65           n.a.
4     MSFT             -1       85     64     bill gates
5     RIL   not available       50   1023  mukesh ambani
6     TATA            5.6       -1   n.a.     ratan tata

In [19]:
df_stocks_csv = pd.read_csv('stock_data.csv', nrows= 3)
df_stocks_csv

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [20]:
df_stocks_csv = pd.read_csv('stock_data.csv', na_values=['not available', 'n.a.'])
df_stocks_csv

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [23]:
df_stocks_csv = pd.read_csv('stock_data.csv', na_values= {
    'eps': ['not available', 'n.a.'],
    'tickets': ['not available', 'n.a.'],
    'revenue': ['not available', 'n.a.', -1],
    'price': ['not available', 'n.a.', -1],
    'people': ['not available', 'n.a.']
})
df_stocks_csv

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [26]:
df_stocks_csv.to_csv('new.csv')

df_stocks_csv.to_csv('new.csv', columns=['price', 'revenue', 'people'])

df_stocks_csv.to_csv('new.csv', columns=['price', 'revenue', 'people'], header=None)

In [2]:
df_stocks_excel =pd.read_excel('stock_data.xlsx', 'Sheet1')
df_stocks_excel

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [3]:
def convert_people(cell):
    if cell == 'n.a.':
        return None
    return cell

df_stocks_excel =pd.read_excel('stock_data.xlsx', 'Sheet1', converters= {
    'people': convert_people
})
df_stocks_excel

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           None
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [34]:
df_stocks_excel.to_excel("new.xlsx", 'Sheet1')

df_stocks_excel.to_excel("new.xlsx", 'Sheet1', index=False, header=False)

df_stocks_excel.to_excel("new.xlsx", 'Sheet1', startrow=2, startcol=2)

C:\Users\hardi\AppData\Local\Temp\ipykernel_54392\1616138825.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_stocks_excel.to_excel("new.xlsx", 'Sheet1')
C:\Users\hardi\AppData\Local\Temp\ipykernel_54392\1616138825.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_stocks_excel.to_excel("new.xlsx", 'Sheet1', index=False, header=False)
C:\Users\hardi\AppData\Local\Temp\ipykernel_54392\1616138825.py:5: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_stocks_excel.to_excel("new.xlsx", 'Sheet1', startrow=2, startcol=2)

In [ ]:
# Create stocks DataFrame
stocks_data = {
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
}
df_stocks = pd.DataFrame(stocks_data)

# Create weather DataFrame
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32, 35, 28],
    'event': ['Rain', 'Sunny', 'Snow']
}
df_weather = pd.DataFrame(weather_data)

# Write both DataFrames to an Excel file with different sheet names
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks", index=False)
    df_weather.to_excel(writer, sheet_name="weather", index=False)

C:\Users\hardi\AppData\Local\Temp\ipykernel_54392\1200698046.py:23: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_stocks.to_excel("test.xlsx", 'Sheet1')
C:\Users\hardi\AppData\Local\Temp\ipykernel_54392\1200698046.py:24: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_weather.to_excel("test.xlsx", 'Sheet2')