In [1]:
import pandas as pd

# Pandas DataFrames - Theory, Examples, and Implementations

## 1. What is a DataFrame?
- **Theory:**
  - A DataFrame is a 2-dimensional, labeled data structure in pandas, similar to a table in a database or an Excel spreadsheet.
  - It allows you to store and manipulate tabular data with rows and columns.

---

## 2. Importing pandas
- **Example:**
  ```python
  import pandas as pd
  ```
- **Implementation:**
  - This line imports the pandas library and gives it the alias `pd` for convenience.

---

## 3. Creating DataFrames

### a) From a CSV File
- **Theory:**
  - CSV files are a common way to store tabular data.
- **Example:**
  ```python
  df_csv = pd.read_csv('weather_data.csv')
  df_csv
  ```
- **Implementation:**
  - Reads the CSV file and creates a DataFrame.

### b) From an Excel File
- **Theory:**
  - Excel files can have multiple sheets; you can specify which one to read.
- **Example:**
  ```python
  df_excel = pd.read_excel('weather_data.xlsx', 'Sheet1')
  df_excel
  ```
- **Implementation:**
  - Reads the specified sheet from the Excel file into a DataFrame.

### c) From a Dictionary
- **Theory:**
  - Each key is a column name, and each value is a list of column values.
- **Example:**
  ```python
  weather_data = {
      'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
      'temperature': [32, 35, 28],
      'windspeed': [6, 7, 2],
      'event': ['Rain', 'Sunny', 'Snow']
  }
  df_dict = pd.DataFrame(weather_data)
  df_dict
  ```
- **Implementation:**
  - Converts the dictionary into a DataFrame.

### d) From a List of Tuples
- **Theory:**
  - Each tuple represents a row; you must specify column names.
- **Example:**
  ```python
  weather_data = [
      ('1/1/2017', 32, 6, 'Rain'),
      ('1/2/2017', 35, 7, 'Sunny'),
      ('1/3/2017', 28, 2, 'Snow')
  ]
  columns = ['day', 'temperature', 'windspeed', 'event']
  df_tuples = pd.DataFrame(weather_data, columns=columns)
  df_tuples
  ```
- **Implementation:**
  - Creates a DataFrame from a list of tuples and assigns column names.

### e) From a List of Dictionaries
- **Theory:**
  - Each dictionary represents a row; keys are column names.
- **Example:**
  ```python
  weather_data = [
      {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
      {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
      {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
  ]
  df_list_dict = pd.DataFrame(weather_data)
  df_list_dict
  ```
- **Implementation:**
  - Each dictionary becomes a row in the DataFrame.

---

## 4. Summary
- DataFrames can be created from many sources: CSV, Excel, dictionaries, tuples, and lists of dictionaries.
- Always check your DataFrame with `print(df)` or just `df` in a notebook cell.
- Use these methods to load and organize your data for analysis in pandas.

In [3]:
# Different Ways Of Creating DataFrame
# reading by csv

df_csv = pd.read_csv('weather_data.csv')
df_csv

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
# reading in excel
df_excel = pd.read_excel('weather_data.xlsx', 'Sheet1')
df_excel

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [7]:
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32, 35, 28],
    'windspeed': [6, 7, 2],
    'event': ['Rain', 'Sunny', 'Snow']
}

# read in dict
df_dict = pd.DataFrame(weather_data)
df_dict

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
# read in tuples list

# Each tuple: (day, temperature, windspeed, event)

weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]

columns = ['day', 'temperature', 'windspeed', 'event']
df_tuples = pd.DataFrame(weather_data, columns=columns) # df_tuples = pd.DataFrame(weather_data, columns= ['day', 'temperature', 'windspeed', 'event'])
df_tuples

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
# create using list of dict

weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]

df_list_dict = pd.DataFrame(weather_data)
df_list_dict